<div class="container">
    <br>
    <div class="col">
      <button (click)="onRegionsClick()" class="btn btn-primary">Best regions to live in</button>
      &nbsp; &nbsp;
      <button (click)="onMaterialsClick()" class="btn btn-primary">Most safe materials for houses</button>
    </div>
  <br>
  <br>
    <div class="col">
      <div *ngIf="regions">
        Top 3 most safe regions:
        <br>
        <div *ngFor="let dto of regions$ | async; let i = index">
          {{i + 1}}. Country: {{dto}}
        </div>
      </div>
      
      <div *ngIf="materials"> 
        Top 3 best materials:
        <br>
        <div *ngFor="let dto of materials$ | async; let i = index">
          {{i + 1}}. Material: {{dto}}
        </div>
      </div>
    </div>
  
  
  </div>
  