<div class="container">
  <br>
  <div class="col">
    <button (click)="onRegionsClick()" class="btn btn-primary">{{'Best regions to live in' | translate}}</button>
    &nbsp; &nbsp;
    <button (click)="onMaterialsClick()" class="btn btn-primary">{{'Most safe materials for houses' | translate}}</button>
  </div>
  <br>
  <br>
  <div class="col">
    <div *ngIf="regions">
      {{'Top 3 most safe regions' | translate}}:
      <br>
      <div *ngFor="let dto of regions$ | async; let i = index">
        {{i + 1}}. {{'Country' | translate}}: {{dto}}
      </div>
    </div>
    
    <div *ngIf="materials"> 
      {{'Top 3 best materials' | translate}}:
      <br>
      <div *ngFor="let dto of materials$ | async; let i = index">
        {{i + 1}}. {{'Material' | translate}}: {{dto}}
      </div>
    </div>
  </div>  
</div>
  