<div class="container"> 
    <nav class="navbar navbar-dark bg-primary">
      <a routerLink="/" class="navbar-brand">Navbar</a>
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle btn-outline-success" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span>Sign&nbsp;</span>
        </button>
        <div class="dropdown-menu">
          <div *ngIf="!authService.isSignedIn()">
            <span routerLink="/account/signin" class="dropdown-item">In</span>
            <span routerLink="/account/signup" class="dropdown-item">Up</span>
          </div>
          <div *ngIf="authService.isSignedIn()">
            <span *ngIf="authService.isAdmin()" routerLink="/admin" class="dropdown-item">Admin</span>
            <span (click)="authService.signOut()" class="dropdown-item">Out</span>
          </div>
        </div>
      </div>
    </nav>
</div>